*.o
*.d
*.so
*.swp
*.swo
a.out
TAGS
mysql_cn_parser
autom4te.cache
config.h
config.log
config.status
configure
configure.ac
Makefile.in
Makefile
stamp-h1
aclocal.m4
/compile
/install-sh
/missing
*.swp
*~
/m4
/src/.deps
*.la
/config.sub
/config.guess
/ltmain.sh
/depcomp
/libtool
*.lo
.libs
*.o
config.h.in
*.log
